<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>人事调度</title>
<link rel="stylesheet" type="text/css" href="{% static 'userManage/css.css' %}" />
<!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>

<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="{% static 'userManage/coin02.png' %}" />
                <span><a href="../">首页</a>&nbsp;-&nbsp;-管理员设置&nbsp;-&nbsp;-</span>&nbsp;模块管理
			</div>
		</div>

		<div class="page">
			<!-- user页面样式 -->
            <form action="{% url 'userManage:changemodule' %}" method="POST">
            {% csrf_token %}
			<div class="connoisseur">
				<div class="conform">
						<div class="cfD">
							<input class="userinput" type="text" placeholder="输入模块名" name="modulename"/>&nbsp;
							<button class="userbtn" name="add">添加</button>
						</div>
				</div>
				<!-- user 表格 显示 -->
				<div class="conShow">
					<table border="1" cellspacing="0" cellpadding="0">
						<tr>
							<td width="66px" class="tdColor tdC">序号</td>
							<td width="200px" class="tdColor">模块名</td>
                            <td width="800px" class="tdColor">模块简述</td>
                            <td width="130px" class="tdColor">操作</td>
						</tr>
                        {% for module in module_list %}
						<tr height="40px">
							<td>{{ module.id }}</td>
							<td>{{ module.name }}</td>
                            <td>{{ module.detail }}</td>
							<td><a href="{% url 'userManage:editmodule' module.id %}">
                                <img class="operation" src="{% static 'userManage/update.png' %}"></a>
                                <a href="{% url 'userManage:deletemodule' module.id %}">
                                <img class="operation delban" src="{% static 'userManage/delete.png' %}"></a>
                            </td>
						</tr>
                        {% endfor %}
					</table>
					<div class="paging">此处是分页</div>
				</div>
				<!-- user 表格 显示 end-->
			</div>
			<!-- user页面样式end -->
            </form>
		</div>

	</div>
</body>
</html>