<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <form id="form1" action="{% url 'login:login' %}" method="post">
         {% csrf_token %}
        <div style="width:500px;float: right;margin:0 auto;" >
            <label for="username" style="font-size:18px" >用户名：</label>
            <div style="height:35px;width:400px;position:relative;display:inline" >   <!--相关位置--> <!--此处为相关位置与绝对位置联合使用-->
                <input id="username" name="username" type="text" style="height:30px;width:350px;padding-right:50px;">
                <span style="position:absolute;right:18px;top:2px;background-image:url(user.ico);height:16px;width:16px;display:inline-block;"></span>  <!--绝对位置-->
            </div>
            <br/><br/>

            <label for="password1" style="font-size:18px" >&nbsp密码：</label>
            <div style="height:35px;width:400px;position:relative;display:inline" >   <!--相关位置--> <!--此处为相关位置与绝对位置联合使用-->
                <input id="password1" name="password1" type="password" style="height:30px;width:350px;padding-right:50px;">
                <span style="position:absolute;right:16px;top:2px;background-image:url(p.ico);height:16px;width:16px;display:inline-block;"></span>  <!--绝对位置-->
            </div>
            <br/>
            <br/>
            <label for="verification_code" style="font-size:18px" >验证码：</label>
            <input id="verification_code" type="text" style="height:30px;width:350px;">
            <br/>
            <br/>
            <div style="width:426px;float: right;">
                <input type="radio" name="auto_login" value="1"/> 自动登录&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <a href="http://www.baidu.com">忘记密码？</a>
            </div>
            <br/>
            <br/>
            <div style="width:426px;float: right;">
                <input type=button name="back" id="back" value="返回" onclick="window.open('../','_self')" style="height:30px;width:150px;background-color:whitesmoke;"/>
                <input type="submit" name="submit" id="login" value="登录"  style="height:30px;width:150px;background-color:red;"/>
            </div>
        </div>
    </form>
</body>
</html>
 {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
 {% endif %}